version: '3.9'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - 1433:1433
    volumes:
      - "./data-mssql:/var/opt/mssql/data"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Secr3tPassw0rd123